<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:nested="http://xmlns.jcp.org/jsf/composite/nested"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <cc:interface componentType="cif">
        <cc:attribute name="theAttr"
                type="richtercloud.jsf.avoid.nested.rendered.evaluation.Entity0"
                required="true"/>
    </cc:interface>
    <cc:implementation>
        <h:outputLabel value="Hello World!"/>
        <c:if test="#{cc.attrs.theAttr.reference ne null}">
            <nested:cif theAttr="#{cc.attrs.theAttr.reference}"/>
        </c:if>
        <c:if test="#{cc.attrs.theAttr.reference eq null}">
            <h:outputLabel value="recursion terminated"/>
        </c:if>
    </cc:implementation>
</html>

