<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:nested="http://xmlns.jcp.org/jsf/composite/nested">
    <cc:interface componentType="rendered">
        <cc:attribute name="theAttr"
                type="java.lang.ref.WeakReference"
                required="true"/>
    </cc:interface>
    <cc:implementation>
        <h:outputLabel value="Hello World!"/>
        <h:panelGroup rendered="#{cc.checkRecurse(cc.attrs.theAttr)}">
            <nested:rendered theAttr="#{cc.attrs.theAttr.get()}"/>
        </h:panelGroup>
        <h:panelGroup rendered="#{cc.checkRecurse(cc.attrs.theAttr)}">
            <h:outputLabel value="recursion terminated"/>
        </h:panelGroup>
    </cc:implementation>
</html>

