<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <h:panelGroup rendered="#{backingBean0.checkConditionalOuter()}">
                <h:outputLabel value="Hello world!"
                        rendered="#{backingBean0.checkConditionalInner()}"/>
                <h:outputLabel value="#{backingBean0.checkConditionalInnerValue()}"/>
            </h:panelGroup>
            <p:commandButton value="Update">
                <p:ajax listener="#{backingBean0.action0}" update="@form"/>
            </p:commandButton>
        </h:form>
    </h:body>
</html>

